<section>
<h1><span data-i18n="skills.my_skills">About</span></h1>
<p class="about">
    사진과 여행을 사랑합니다.
    현재는 YOLO란 무엇인지 탐구 중이며, 최근까진 주로 웹개발을 했으며 프론트엔드와 백엔드를 가리지 않고 좋아합니다.
    복잡한 일을 단순하게 처리하길 좋아하며, 작은 일에 성실한 사람이 큰 일을 이룰 수 있다는 신념을 따라 살고 있습니다.
</p>
<p class="about">
    Hi there,
    I love to take awesome pictures and travel around the world
    I hope to know more what YOLO means seriously, and I've been working as web application engineer so far with lots of interests in both front-end and back-end things.
    I like to make complicate things simple, and I follow by 'faithful in that which is least is faithful also in much' above everyhing else :-)
</p>
<p class="about">
    <a href="https://www.notion.so/ae9eabd3889e44098a0a5cc65570a69c">Resume</a>
</p>
</section>
